<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница читателя</title>
</head>
<body>
    <h2 th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">user</h2>
    <br><br>
    <hr>
    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Редактировать данные"/>
    </form>
    <br><br>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <button>Удалить данные</button>
    </form>
</body>
</html>